<nav class="navbar navbar-inverse navbar-static-top" id="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">timmesserschmidt</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <div class="navbar-right" id="social">
        <ul class="nav navbar-nav hidden-xs">
          <li><%= mail_to 'timmesserschmidt@gmail.com', '<i class="fa fa-envelope fa-2x fa-fw"></i>' %><span class="sr-only">Mail</span></a></li>
          <li><a href="http://plus.google.com/+TimMesserschmidt"><i class="fa fa-google-plus-square fa-2x fa-fw"></i><span class="sr-only">Google Plus</span></a></li>
          <li><a href="http://twitter.com/seraandroid"><i class="fa fa-twitter-square fa-2x fa-fw"></i><span class="sr-only">Twitter</span></a></li>
          <li><a href="http://linkedin.com/in/timmesserschmidt"><i class="fa fa-linkedin-square fa-2x fa-fw"></i><span class="sr-only">LinkedIn</span></a></li>
          <li><a href="http://github.com/seraphimserapis"><i class="fa fa-github-square fa-2x fa-fw"></i><span class="sr-only">GitHub</span></a></li>
        </ul><!-- nav navbar-nav -->
        <ul class="nav navbar-nav visible-xs-inline-block">
          <li><%= mail_to 'timmesserschmidt@gmail.com', '<i class="fa fa-envelope fa-2x fa-fw"></i>&nbsp; Mail' %></li>
          <li><a href="http://plus.google.com/+TimMesserschmidt"><i class="fa fa-google-plus-square fa-2x fa-fw"></i>&nbsp; Google Plus</a></li>
          <li><a href="http://twitter.com/seraandroid"><i class="fa fa-twitter-square fa-2x fa-fw"></i>&nbsp; Twitter</span></a></li>
          <li><a href="http://linkedin.com/in/timmesserschmidt"><i class="fa fa-linkedin-square fa-2x fa-fw"></i>&nbsp; LinkedIn</a></li>
          <li><a href="http://github.com/seraphimserapis"><i class="fa fa-github-square fa-2x fa-fw"></i>&nbsp; GitHub</a></li>
        </ul><!-- nav navbar-nav -->
      </div><!-- navbar-right -->
    </div><!-- collapse navbar-collapse -->
  </div><!-- container -->
</nav>
