// code.css

@import 'colors';
@import 'sizes';

.highlight {
  margin: 1em 0;
  overflow: scroll;

  code {
    line-height: 1.5em;
    font-size: $text;
  }

  pre {
    border: 0;
    background-color: $grey-light;
  }
}

td.code {
  width: 100%;
}
