// page.css

@import 'colors';
@import 'sizes';

footer {
  margin-bottom: 16px;
}

.entry {
  border-bottom: 1px solid $highlight;
  padding-bottom: 32px;
  margin-bottom: 32px;

  .date {
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: 300;
    font-size: $small;

    .glyphicon {
      top: 1px;
    }
  }
}

.event {
  padding-bottom: 2px;
}

.header {
  margin-top: 0px;
}

.banner {
  background: $background;
  color: $highlight;
  padding-left: 0px;
  border-bottom: 0px;

  h1 {
    font-size: $hero;
    font-weight: 600;
    letter-spacing: -2px;
  }

  &.categories {
    h1 {
      font-size: $h1;
    }
  }
}
