/* site.css */

body {
  background: #2C3E50;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #E1E4E6;
}

h1, h2, h3, h4, h5 {
  font-family: 'Quicksand', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #F4511E;
}

a, a:hover, a:visited {
  color: #F4511E;
  text-decoration: none;
}

p {
  font-weight: 300;
}

footer {
  margin-bottom: 16px;
}

td.code {
  width: 100%;
}

.date>span.glyphicon {
  top: 2px;
}

.tagdate {
  font-size: 14px;
}

.banner {
  background: #2C3E50;
  color: #F4511E;
  padding-left: 0px;
  border-bottom: 0px;
}

.banner.categories>h1 {
  font-size: 36px;
}

.share {
  display: inline;
}

.entry {
  border-bottom: 1px solid #F4511E;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.date {
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 14px;
}

.tags {
  margin-top: 8px;
  margin-bottom: 8px;
}

.event {
  padding-bottom: 2px;
}

.header {
  margin-top: 0px;
}

.banner>h1 {
  font-size: 52px;
}

.btn.btn-tag {
  outline: none;
  background: #F4511E;
  color: #FFFFFF;
}

.btn.btn-more {
  background: #34495E;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.btn.btn-more:hover {
  background: #2C3E50;
  color: #F4511E;
}

.navbar-inverse .navbar-brand {
  color: #F4511E;
}

.navbar-inverse .navbar-nav>.active>a {
  background: #34495E;
}

.page-header.title {
  border-color: #F4511E;
}

.pagination>li>a {
  background: #34495E;
  color: #FFFFFF;
}

.bio.center-block {
  margin-top: 40px;
  padding-bottom: 24px;
  text-align: center;
}

.face {
  border: 2px solid #E1E4E6;
}

article>p>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  background: #2C3E50;
  color: #F4511E;
}

.navbar-inverse .navbar-toggle {
  border-color: #FFFFFF;
}

.navbar-inverse .navbar-toggle:hover {
  background: #2C3E50;
}

#active {
  background: #34495E;
  color: #F4511E;
}

#navbar {
  background: #34495E;
  border-bottom: 1px solid;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

#navbar li>a {
  color: #FFFFFF;
}

#navbar a:hover {
  color: #F4511E;
  background: #2C3E50;
}

#main {
  margin-bottom: 48px;
}

@media (min-width: 768px) {
  #social>ul>li>a {
    height: 50px;
  }

  #social>ul>li>a>i::before {
    position: relative;
    bottom: 6px;
  }
}

@media (max-width: 767px) {
  .event {
    padding-bottom: 14px;
  }
}
