---
pageable: true
per_page: 5
---
<div class="page-header banner categories">
  <h1>Articles tagged with <button class="btn btn-tag"><%= tagname %></button></h1>
</div>

<%= partial 'includes/articles' %>

<%= partial 'includes/paginate' %>
