// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#content .blog-index article h1, h1.entry-title {
  font-size: 2.0em
}

a.category {
  display: inline-block;
  padding: 4px 8px;
  font-weight: bold;
  line-height: 14px;
  color: #f8f8f8;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #0181eb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
}

a.category:hover, a.category:focus, a.category:active, #blog-archives a.category:hover, #blog-archives a.category:active, #blog-archives a.category:focus, #content .blog-index a[rel=full-article]:hover {
  background-color: #ebebeb;
  color: #666;
}

#content .blog-index a[rel=full-article], #blog-archives a.category {
  color: #f8f8f8;
  background-color: #0181eb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
