// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body>nav form .search {
  padding: 0.15em 0.5em 0.15em 0.5em;
}

#content .blog-index article h1, h1.entry-title {
  font-size: 2.0em
}

a.category {
  display: inline-block;
  padding: 4px 8px;
  font-weight: bold;
  line-height: 14px;
  color: $tag-color;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: $tag-color-bg;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
}

a.category:hover, a.category:focus, a.category:active, #blog-archives a.category:hover, #blog-archives a.category:active, #blog-archives a.category:focus, #content .blog-index a[rel=full-article]:hover {
  background-color: $tag-color-bg-hover;
  color: $tag-color-hover;
}

#content .blog-index a[rel=full-article], #blog-archives a.category {
  color: $tag-color;
  background-color: $tag-color-bg;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.circular {
  float: left;
	width: 100px;
	height: 100px;
	margin-right: 14px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(/images/me.png) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.header {
  padding-top: 4px;
}
